<div *ngIf="userService.usuarioLogeado.user == 'especialista'" class="body">
    <mat-spinner *ngIf="onSpinner" class="spinner"></mat-spinner>
    <div [hidden]="onSpinner || ejecutandoAccion">
        <div class="articleContainer">
            <article class="card buscar">
                <div class="mb-2 input-group">
                    <div class="inputDiv inputBuscar">
                        <label class="form-label" for="inputFiltro">Buscar</label>
                        <input placeholder="Ingrese una palabra clave" [(ngModel)]="buscar" (change)="onChangeBuscar()" type="text" class="form-control" id="inputFiltro">
                    </div>
                </div>
            </article>
            <article class="card filtro">
                <div class="inputDiv">
                    <mat-radio-group [(ngModel)]="especialidadAux" (ngModelChange)="onChangeEspecialidad()">
                        <mat-radio-button *ngFor="let especialidad of especialidades" [value]="especialidad">{{especialidad | camelCase}}</mat-radio-button>
                    </mat-radio-group>
                </div>
                <hr class="linea">
                <div class="inputDiv">
                    <mat-radio-group [(ngModel)]="pacienteElegido"  (ngModelChange)="onChangePaciente()">
                        <mat-radio-button *ngFor="let paciente of pacientesAux" [value]="paciente">
                            {{paciente | nombreApellido}}
                        </mat-radio-button>
                    </mat-radio-group>
                    <p *ngIf="especialidadAux && pacientesAux.length == 0">No hay pacientes disponibles</p>
                </div>
            </article>
        </div>
    </div>
    <div *ngIf="!ejecutandoAccion" class="turnos" [@shownHidden]="mostrarLista ? 'shown' : 'hidden'">
        <article *ngIf="turnosAux.length == 0 && mostrarLista" class="card noEncontrado">
            <h3 class="tituloCard">No se encontraron turnos</h3>
        </article>
        <article class="mb-5 mt-5 card turno" *ngFor="let turno of turnosAux">
            <div class="fecha">
                <p>{{turno.fecha | date:'dd/MM/yyyy'}}</p>
                <p>{{turno.hora + ' Hs'}}</p>
            </div>
            <div class="datos">
                <p *ngIf="!turno.aceptado && !turno.finalizado && !turno.cancelado" class="pendiente">Pendiente</p>
                <p *ngIf="turno.aceptado && !turno.finalizado && !turno.cancelado" class="confirmado">Confirmado</p>
                <p *ngIf="turno.cancelado" class="cancelado">Cancelado</p>
                <p *ngIf="turno.finalizado && !turno.cancelado" class="finalizado">Finalizado</p>
                <p><span class="span">Paciente: </span>{{turno.paciente | nombreApellido}}</p>
                <p><span class="span">Especialidad: </span>{{turno.especialidad}}</p>
                <button *ngIf="!turno.finalizado && !turno.cancelado && !turno.aceptado" class="btn btn-primary aceptar" (click)="aceptarTurno(turno)">Aceptar</button>
                <button *ngIf="!turno.finalizado && !turno.cancelado && !turno.aceptado" class="btn btn-primary rechazar" (click)="ejecutarCancelar(turno)">Rechazar</button>
                <button *ngIf="!turno.finalizado && !turno.cancelado && turno.aceptado" class="btn btn-primary aceptar" (click)="ejecutarFinalizar(turno)">Finalizar</button>
                <button *ngIf="!turno.finalizado && !turno.cancelado && turno.aceptado" class="btn btn-primary rechazar" (click)="ejecutarCancelar(turno)">Cancelar</button>
                <button *ngIf="turno.finalizado && turno.resenia && !turno.verResenia" class="btn btn-primary aceptar" (click)="turno.verResenia = true">Reseña</button>
                <button *ngIf="turno.verResenia" class="btn btn-primary cerrar" (click)="turno.verResenia = false">Cerrar</button>
            </div>
            <p *ngIf="turno.motivoCancelamiento"><span class="span">Motivo de cancelamiento: </span>{{turno.motivoCancelamiento}}</p>
            <p *ngIf="turno.verResenia"><span class="span">Reseña: </span>{{turno.resenia}}</p>
            <div class="historiaMedica" *ngIf="turno.verHistoria">
                <hr class="linea">
                <div class="datosFijos">
                    <p><span class="span">Altura: </span>{{turno.verHistoria.altura}}</p>
                    <p><span class="span">Peso: </span>{{turno.verHistoria.peso}}</p>
                    <p><span class="span">Temperatura: </span>{{turno.verHistoria.temperatura}}</p>
                    <p><span class="span">Presion: </span>{{turno.verHistoria.presion}}</p>
                </div>
                <div class="datosDinamicos">
                    <p *ngIf="turno.verHistoria.clave1"><span class="span">{{turno.verHistoria.clave1}} </span>{{turno.verHistoria.valor1}}</p>
                    <p *ngIf="turno.verHistoria.clave2"><span class="span">{{turno.verHistoria.clave2}} </span>{{turno.verHistoria.valor2}}</p>
                    <p *ngIf="turno.verHistoria.clave3"><span class="span">{{turno.verHistoria.clave3}} </span>{{turno.verHistoria.valor3}}</p>
                </div>
            </div>
        </article>
    </div>
    <div *ngIf="accion == 'cancelar' && ejecutandoAccion" class="ejecutandoAccion cancelarAccion card">
        <h3 class=" mb-3">Cancelar turno</h3>
        <div class="input-group mb-3">
            <input [(ngModel)]="motivoCancelamiento" type="text" class="form-control" placeholder="Ingrese el motivo">
        </div>
        <div class="botonesCancelar">
            <button [disabled]="motivoCancelamiento.length < 4" class="btn btn-primary" (click)="cancelarTurno()">Cancelar turno</button>
            <button class="btn btn-primary" (click)="ejecutandoAccion = false">Volver</button>
        </div>
    </div>
    <div *ngIf="accion == 'finalizar' && ejecutandoAccion" class="ejecutandoAccion finalizarAccion card" [hidden]="onSpinner">
        <h3 class=" mb-3 titulo">Finalizar turno</h3>
        <div class="input-group mb-3">
            <input [(ngModel)]="resenia" type="text" class="form-control" placeholder="Ingrese la reseña">
        </div>
        <div class="formContainer card">
            <p class="titulo">Historia clinica</p>
            <hr class="linea">
            <div class="card-body">
                <form [formGroup]="form">
                    <div class="mb-2 input-group has-validation">
                        <div class="inputDiv" [class.is-invalid]="alturaHasError()">
                            <label class="form-label" for="inputAltura">Altura</label>
                            <input [class.is-invalid]="alturaHasError()" formControlName="altura" placeholder="Ingrese la altura" type="number" class="form-control" id="inputAltura">
                        </div>
                        <div class="invalid-feedback">
                            {{alturaHasError()}}
                        </div>
                    </div>
                    <div class="mb-2 input-group has-validation">
                        <div class="inputDiv" [class.is-invalid]="pesoHasError()">
                            <label class="form-label" for="inputPeso">Peso</label>
                            <input [class.is-invalid]="pesoHasError()" formControlName="peso" placeholder="Ingrese el peso" type="number" class="form-control" id="inputPeso">
                        </div>
                        <div class="invalid-feedback">
                            {{pesoHasError()}}
                        </div>
                    </div>
                    <div class="mb-2 input-group has-validation">
                        <div class="inputDiv" [class.is-invalid]="temperaturaHasError()">
                            <label class="form-label" for="inputTemperatura">Temperatura</label>
                            <input [class.is-invalid]="temperaturaHasError()" formControlName="temperatura" placeholder="Ingrese la temperatura" type="number" class="form-control" id="inputTemperatura">
                        </div>
                        <div class="invalid-feedback">
                            {{temperaturaHasError()}}
                        </div>
                    </div>
                    <div class="mb-2 input-group has-validation">
                        <div class="inputDiv" [class.is-invalid]="presionHasError()">
                            <label class="form-label" for="inputPresion">Presion</label>
                            <input [class.is-invalid]="presionHasError()" formControlName="presion" placeholder="Ingrese la altura" type="number" class="form-control" id="inputPresion">
                        </div>
                        <div class="invalid-feedback">
                            {{presionHasError()}}
                        </div>
                    </div>
                    <div class="mb-2 input-group">
                        <div class="inputDiv cargaDatos">
                            <label class="form-label" for="inputClave1">Dato 1</label>
                            <input  formControlName="clave1" placeholder="Ingrese la clave" type="text" class="form-control" id="inputClave1">
                            <input  formControlName="valor1" placeholder="Ingrese el valor" type="text" class="form-control" id="inputValor1">
                        </div>
                    </div>
                    <div class="mb-2 input-group">
                        <div class="inputDiv cargaDatos">
                            <label class="form-label" for="inputClave2">Dato 2</label>
                            <input  formControlName="clave2" placeholder="Ingrese la clave" type="text" class="form-control" id="inputClave2">
                            <input  formControlName="valor2" placeholder="Ingrese el valor" type="text" class="form-control" id="inputValor2">
                        </div>
                    </div>
                    <div class="mb-2 input-group">
                        <div class="inputDiv cargaDatos">
                            <label class="form-label" for="inputClave1">Dato 3</label>
                            <input  formControlName="clave3" placeholder="Ingrese la clave" type="text" class="form-control" id="inputClave3">
                            <input  formControlName="valor3" placeholder="Ingrese el valor" type="text" class="form-control" id="inputValor3">
                        </div>
                    </div>
                    <div class="mb-2 mt-3">
                        <button class="btn btn-primary btnFinalizar" (click)="finalizarTurno()" [disabled]="!form.valid || resenia.length < 4">Finalizar turno</button>
                        <button class="btn btn-primary btnFinalizar" (click)="ejecutandoAccion = false">Volver</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
