<div class="body bg-body-secondary">
    <div class="articleContainer">
        <article class="card">
            <mat-icon class="icon">event_available</mat-icon>
            <h3 class="tituloCard">Mis turnos</h3>
            <p class="parrafo">Revisa y administra tus turnos</p>
            <button routerLink="/misTurnos" class="btn btn-primary">Ver turnos</button>
        </article>
        <article class="card">
            <mat-icon class="icon">edit_calendar</mat-icon>
            <h3 class="tituloCard">Solicitar turno</h3>
            <p class="parrafo">Agenda una cita con nuestros profesionales.</p>
            <button routerLink="/solicitarTurno" class="btn btn-primary">Solicitar</button>
        </article>
    </div>
</div>
