<div class="body bg-body-secondary">
    <mat-spinner *ngIf="onSpinner" class="spinner"></mat-spinner>
    <div class="historiasMedicas" [hidden]="onSpinner" [@shownHidden]="historiasMedicas.length > 0 ? 'shown' : 'hidden'">
        
        <article class="card pacientes bg-body-secondary" *ngIf="userService.usuarioLogeado.user == 'especialista'">
            <div class="containerBotones">
                <div class="botones" *ngFor="let paciente of pacientes" [class.seleccionado]="pacienteElegido && pacienteElegido.dni == paciente.dni">
                    <button (click)="onChangePaciente(paciente)" class="btn btn-primary redondo" [style.backgroundImage]="'url(' + paciente.imgs[0] + ')'"></button>
                    <p>{{paciente | nombreApellido}}</p>
                </div>
            </div>
            <p *ngIf="pacientes.length == 0">No hay pacientes disponibles</p>
        </article>

        <article class="card especialistas bg-body-secondary" *ngIf="userService.usuarioLogeado.user == 'paciente'">
            <div class="containerBotones">
                <div class="botones" *ngFor="let especialista of especialistas">
                    <button (click)="descargarPdfPorEspecialista(especialista)" class="btn btn-primary redondo" [style.backgroundImage]="'url(' + especialista.img + ')'"></button>
                    <p>{{especialista | nombreApellido}}</p>
                </div>
            </div>
        </article>

        <h1 class="titulo">Historias medicas <span><button class="btn btn-primary descargar" (click)="descargarTodasLasHistorias()">Descargar todas</button></span></h1>
        <article *ngIf="historiasMedicasAux.length == 0" class="card noEncontrado">
            <h3 class="tituloCard">No se encontraron historias medicas</h3>
        </article>
        <article class="mb-5 mt-5 card historiaMedica" *ngFor="let historiaMedica of historiasMedicasAux" >
            <div class="fecha">
                <p>{{historiaMedica.fecha | date:'dd/MM/yyyy'}}</p>
            </div>
            <div class="datos">
                <p><span class="span">Especialista: </span>{{historiaMedica.especialista | nombreApellido}}</p>
                <p><span class="span">Paciente: </span>{{historiaMedica.paciente | nombreApellido}}</p>
            </div>
            <div class="datosFijos">
                <p><span class="span">Altura: </span>{{historiaMedica.altura}}</p>
                <p><span class="span">Peso: </span>{{historiaMedica.peso}}</p>
                <p><span class="span">Temperatura: </span>{{historiaMedica.temperatura}}</p>
                <p><span class="span">Presion: </span>{{historiaMedica.presion}}</p>
            </div>
            <div class="datosDinamicos">
                <p *ngIf="historiaMedica.clave1"><span class="span">{{historiaMedica.clave1}} </span>{{historiaMedica.valor1}}</p>
                <p *ngIf="historiaMedica.clave2"><span class="span">{{historiaMedica.clave2}} </span>{{historiaMedica.valor2}}</p>
                <p *ngIf="historiaMedica.clave3"><span class="span">{{historiaMedica.clave3}} </span>{{historiaMedica.valor3}}</p>
            </div>
            <button class="btn btn-primary verTurno" *ngIf="!historiaMedica.verTurno" (click)="verTurno(historiaMedica)">Ver turno</button>
            <div class="turno" *ngIf="historiaMedica.verTurno">
                <hr class="linea">
                <div class="fecha">
                    <p><span class="span">Hora: </span>{{historiaMedica.verTurno.hora + ' Hs'}}</p>
                </div>
                <div class="datos">
                    <p class="finalizado">Finalizado</p>
                    <p><span class="span">Especialista: </span>{{historiaMedica.verTurno.especialista | nombreApellido}}</p>
                    <p><span class="span">Especialidad: </span>{{historiaMedica.verTurno.especialidad | camelCase}}</p>
                </div>
                <p><span class="span">Reseña: </span>{{historiaMedica.verTurno.resenia}}</p>
            </div>
            <button class="btn btn-primary cerrar" *ngIf="historiaMedica.verTurno" (click)="historiaMedica.verTurno = false">Cerrar</button>
        </article>
    </div>
</div>
