<div class="body bg-body-secondary">
    <mat-spinner *ngIf="onSpinner" class="spinner"></mat-spinner>
    <div [hidden]="onSpinner">
        <div class="articleContainer">
            <article class="card">
                <h3 class="tituloCard">Especialidad</h3>
                <p class="parrafo">Seleccione una especialidad</p>
                <div class="inputDiv">
                    <select id="inputEspecialidad" class="form-select" (change)="onChangeEspecialidad($event)">
                        <option value="">Especialidad</option>
                        <option *ngFor="let especialidad of especialidades" [value]="especialidad">{{especialidad}}</option>
                    </select>
                </div>
            </article>
            <article class="card">
                <h3 class="tituloCard">Especialista</h3>
                <p class="parrafo">Seleccione el especialista</p>
                <div class="inputDiv">
                    <select id="inputEspecialista" class="form-select" [(ngModel)]="especialistaElegido"  (ngModelChange)="onChangeEspecialista()">
                        <option value="" selected>Especialista</option>
                        <option *ngFor="let especialista of especialistasAux" [ngValue]="especialista">
                            {{especialista.apellido + ', ' + especialista.nombre}}
                        </option>
                    </select>
                </div>
            </article>
            <article class="card" *ngIf="userIsAdmin">
                <h3 class="tituloCard">Paciente</h3>
                <p class="parrafo">Ingrese el DNI del paciente</p>
                <div class="input-group">
                    <input type="text" class="form-control" [(ngModel)]="dniAbuscar" placeholder="Ingrese el DNI">
                    <button class="btn btn-outline-secondary " (click)="buscarPaciente()" type="button">Buscar</button>
                </div>
                <p *ngIf="pacienteElegido" class="pacienteEncontrado mb-0 mt-1">{{pacienteElegido.nombre + ', ' + pacienteElegido.apellido}}</p>
            </article>
        </div>
        <div class="fechas" [hidden]="!mostrarFechas">
            <div class="diaDiv" *ngFor="let dia of dias; let i = index">
                <button class="btn btn-primary" (click)="diaElegido = dia" >
                    {{ turnoService.obtenerNombreDia(dia) }} - {{ dia | date:'dd/MM/yyyy' }}
                </button>
            </div>
        </div>
    </div>
    <app-elegir-turno [dia]="diaElegido" [especialidad]="especialidadAux" [especialista]="especialistaElegido" [paciente]="pacienteElegido"></app-elegir-turno>
</div>
