.body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html, body {
    height: 100%;
    margin: 0;
}

.flex{
    flex: 1;
    margin-top: 10%;
}

.horarios{
    width: 50%;
    margin: auto;
}

.diaDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.spinner{
    margin: 5% auto;
}

.adelante, .atras, .btnGuardar{
    background-color: #E4002B;
    border: #E4002B;
}

.dias{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}