<body class="body">
    <div class="form-container">
        <div class="card">
            <p class="titulo">Crear cuenta</p>
            <hr class="linea">
            <div class="card-body">
                <form>
                    <div class="mb-2">
                        <label class="form-label" for="inputNombre">Nombre</label>
                        <input placeholder="Ingrese su nombre" type="text" class="form-control" id="inputNombre">
                    </div>
                    <div class="mb-2">
                        <label class="form-label" for="inputApellido">Apellido</label>
                        <input placeholder="Ingrese su apellido" type="text" class="form-control" id="inputApellido">
                    </div>
                    <div class="mb-2">
                        <label class="form-label" for="inputEdad">Edad</label>
                        <input placeholder="Ingrese su edad" type="number" class="form-control" id="inputEdad">
                    </div>
                    <div class="mb-2">
                        <label class="form-label" for="inputDni">Dni</label>
                        <input placeholder="Ingrese su DNI" type="number" class="form-control" id="inputDni">
                    </div>
                    <div class="mb-2">
                        <label class="form-label" for="inputObraSocial">Obra social</label>
                        <input placeholder="Ingrese su obra social" type="text" class="form-control" id="inputObraSocial">
                    </div>
                    <div class="mb-2">
                        <label class="form-label" for="inputMail">Mail</label>
                        <input placeholder="Ingrese su mail" type="email" class="form-control" id="inputMail">
                    </div>
                    <div class="mb-2">
                        <label class="form-label" for="inputContraseña">Contraseña</label>
                        <input placeholder="Ingrese su contraseña" type="password" class="form-control" id="inputContraseña">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
