.body{
    padding-top: 2%;
    min-height: 90%;
}
.formContainer{
    margin: 1% auto 0 auto; 
    width: 40%;
    max-height: 50%;
    padding-bottom: 4%;
}

.span{
    font-family: 'Merriweather', serif;
    font-size: medium;
    font-weight: 400;
    padding-left: 60%;
}

.titulo{
    font-family: 'Merriweather', serif;
    font-weight: 400;
    margin-left: 1%;
    margin-bottom: 0px;
    font-size: 25px;
}

.linea{
    margin-top: 0px;
    color: #E4002B;
    border-width: 2px;
    margin-top: 0;
}

.card{
    border-radius: 15px;
    padding: 2%;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5);
}

.btn{
    background-color: #E4002B;
    border: #E4002B;
}

.btn:hover{
    box-shadow: 0px 0px 7px rgb(206, 206, 206, 0.5);
}

.inputDiv{
    width: 100%;
}

.spinner{
    margin: 5% auto;
}

.redondo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 1%;
}

.opciones{
    margin: 3% auto 0 auto;
    display: flex;
    justify-content: center;
}

.especialista{
    background-image: url('../../../assets/especialista.jpg');
    background-size: cover;
    background-position: center; 
}

.paciente{
    background-image: url('../../../assets/paciente.png');
    background-size: cover;
    background-position: center; 
}