<header class="p-3 header fixed-top">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a routerLink="home" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img class="bi me-2" width="60" height="52" aria-label="Logo" src="../../../assets/logo.png" alt="Logo">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li class="nav-link px-2 text-white titulo">Clinica D'alessio</li>
        </ul>

        <div class="text-end">
          <button type="button" routerLink="login" class="btn btn-outline-light me-2" *ngIf="!userService.getUserLogeado()">Iniciar sesion</button>
          <button type="button" *ngIf="userService.usuarioLogeado && userService.usuarioLogeado.user == 'admin'" routerLink="usuarios" class="btn btn-light me-2">Usuarios</button>
          <button type="button" *ngIf="userService.usuarioLogeado" routerLink="perfil" class="btn btn-light me-2">Mi perfil</button>
          <button type="button" (click)="userService.logOut()" routerLink="login" class="btn btn-outline-light"*ngIf="userService.getUserLogeado()">Cerrar sesion</button>
        </div>
      </div>
    </div>
</header>
