<div class="body bg-body-secondary">
    <div class="articleContainer">
        <article class="card">
            <mat-icon class="icon">login</mat-icon>
            <h3 class="tituloCard">Login</h3>
            <p class="parrafo">Inicia sesion aca</p>
            <button routerLink="/login" class="btn btn-primary">Iniciar sesion</button>
        </article>
        <article class="card">
            <mat-icon class="icon">app_registration</mat-icon>
            <h3 class="tituloCard">Crear cuenta</h3>
            <p class="parrafo">Si no tenes cuenta, podes crearte una aca</p>
            <button routerLink="/registro" class="btn btn-primary">Registrarse</button>
        </article>
    </div>
</div>
