<div class="body bg-body-secondary">
    <mat-spinner *ngIf="onSpinner" class="spinner"></mat-spinner>
    <article class="mb-5 card" *ngIf="!onSpinner">
        <table class="table shadow-sm">
            <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Edad</th>
                <th scope="col">DNI</th>
                <th scope="col">Obra Social</th>
                <th scope="col">Especialidad</th>
                <th scope="col">Mail</th>
                <th scope="col">Usuario</th>
                <th scope="col">Habilitado</th>
                <th scope="col">Historia medica</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr *ngFor="let usuario of usuarios">
                <td scope="row">{{usuario.nombre | camelCase}}</td>
                <td>{{usuario.apellido | camelCase}}</td>
                <td>{{usuario.edad}}</td>
                <td>{{usuario.dni}}</td>
                <td>{{usuario.obraSocial}}</td>
                <td>{{usuario.especialidad | camelCase}}</td>
                <td>{{usuario.mail}}</td>
                <td>{{usuario.user | camelCase}}</td>
                <td *ngIf="usuario.verificado == 'N/A'">{{usuario.verificado}}</td>
                <td *ngIf="usuario.verificado == false"><mat-icon (click)="habilitarDeshabilitar(usuario)" class="text-danger">close</mat-icon></td>
                <td *ngIf="usuario.verificado == true"><mat-icon (click)="habilitarDeshabilitar(usuario)" class="text-success">check_circle</mat-icon></td>
                <td><mat-icon (click)="verHistoriaMedica(usuario)">medical_information</mat-icon></td>
            </tr>
            </tbody>
        </table>
        <button (click)="descargarCsv()" class="btn btn-primary">Descargar</button>
        <p class="linkRegistro">Para crear una cuenta de un usuario administrador, ingrese <span><a routerLink="/registroAdministrador">aca</a></span>.</p>
    </article>
    <div class="containerBotones" *ngIf="!onSpinner">
        <div class="botones" *ngFor="let paciente of pacientes">
            <button (click)="descargarDatosPaciente(paciente)" class="btn btn-primary redondo" [style.backgroundImage]="'url(' + paciente.imgs[0] + ')'"></button>
            <p>{{paciente.apellido + ", " + paciente.nombre}}</p>
        </div>
    </div>
</div>