.body{
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 4% auto 2% auto; 
    height: 90%;
}

.table{
    width: 80%;
    margin: auto;
    text-align: center;
}

.titulo{
    text-align: center;
}

.spinner{
    margin: auto;
}