.body{
    flex: 1;
    margin-top: 6%;
}

.spinner{
    margin: 5% auto;
}


.linea{
    margin-top: 0px;
    color: #E4002B;
    border-width: 2px;
    margin-top: 0;
}


.filtro{
    width: 60%;
    height: 30%;
    padding: 1%;
    margin: 0 1%;
    text-align: center;
}

.inputBuscar{
    width: 80%;
}

.buscar{
    width: 30%;
    height: 30%;
    padding: 1%;
    margin: 0 1%;
    text-align: center;
}

.buscar .inputDiv{
    margin: auto;
}

.datosFijos, .datosDinamicos{
    display: flex;
    align-items: center;
}

.datosFijos p, .datosDinamicos p{
    margin-right: 1%;
}

.articleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cancelarAccion{
    width: 30%;
    height: 30%;
    padding: 2%;
    margin: 0 5%;
}

.cancelarAccion, .finalizarAccion{
    margin: auto;
}

.finalizarAccion{
    width: 40%;
    height: 40%;
    padding: 2%;
    margin: 0 auto;
}

.botonesCancelar .btn{
    background-color: #E4002B;
    border: #E4002B;
    width: 40%;
}

.botonesCancelar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.parrafo, .tituloCard{
    text-align: center;
}

.turno{
    width: 50%;
    margin: auto;
    padding: 1%;
    padding-bottom: 0;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5);
}

.fecha, .datos{
    display: flex;
    align-items: center;
}

.fecha p, .datos p{
    margin-right: 1%;
}

.confirmado, .pendiente, .cancelado, .finalizado{
    padding: 5px;
    border-radius: 10px;
}

.pendiente{
    background-color: #ffbf69;
    color: #bb3e03;
}

.confirmado, .finalizado{
    background-color: #a7c957;
    color: #386641;
}

.cancelado{
    color: #540b0e;
    background-color: #d62828;
}

.span{
    font-weight: 600;
}

.aceptar{
    margin-left: auto;
    margin-right: 2%;
}

.cancelar, .cerrar{
    margin-left: auto;
}

.aceptar{
    background-color: #4f772d;
    border: #4f772d;
    width: 10%;
}

.rechazar, .cancelar, .cerrar{
    background-color: #E4002B;
    border: #E4002B;
    width: 10%;
}

.noEncontrado{
    margin: 5% auto;
    background-color: #d6282875;
    width: 30%;
    height: 30%;
    padding: 2%;
}

.noEncontrado h3{
    color: #6a040f;
}

.formContainer{
    margin: 1% auto 0 auto; 
    width: 80%;
    max-height: 50%;
    padding-bottom: 4%;
}
.titulo{
    font-family: 'Merriweather', serif;
    font-weight: 400;
    margin-left: 1%;
    margin-bottom: 0px;
    font-size: 25px;
}

.linea{
    margin-top: 0px;
    color: #E4002B;
    border-width: 2px;
    margin-top: 0;
}

.card{
    border-radius: 15px;
    padding: 2%;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5);
}

.inputDiv{
    width: 100%;
}

.btnFinalizar{
    background-color: #E4002B;
    border: #E4002B;
    margin: auto 2%;
}

.btnFinalizar:hover{
    box-shadow: 0px 0px 7px rgb(206, 206, 206, 0.5);
}

.cargaDatos{
    display: flex;
    align-items: center;
}

.cargaDatos input{
    width: 40%;
    margin: auto 2%;
}