html, body {
    height: 100%;
    margin: 0;
}

.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flexCss{
    flex: 1;
    margin-top: 6%;
}

.redondo{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 0 1%;
    background-color: #E4002B;
    border: #E4002B;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    background-image: url("../../../assets/especialista.jpg");
}

.spinner{
    margin: 5% auto;
}

.titulo{
    text-align: center;
    margin-bottom: 1%;
}

.articleContainer{
    display: flex;
    justify-content: center;
}

.linea{
    margin-top: 0px;
    color: #E4002B;
    border-width: 2px;
    margin-top: 0;
}

.diaDiv .btn{
    width: 100%;
}

.diaDiv{
    width: calc(20% - 4%);
    margin: 1%;
}

.fechas{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2% auto;
}

.parrafo{
    text-align: center;
}

.tituloCard{
    text-align: center;
}

.card{
    width: 30%;
    height: 30%;
    padding: 2%;
    margin: 0 5%;
}

.btnDia{
    background-color: #E4002B;
    border: #E4002B;
    width: 30%;
    margin: 0 auto;
    color: white;
}

.seleccionado{
    background-color: #84a98c;
    border: #84a98c;
}

.span{
    font-weight: 700;
    color: #84a98c;   
}