<div class="body bg-body-secondary">
    <mat-spinner *ngIf="onSpinner" class="spinner"></mat-spinner>
    <div [hidden]="onSpinner" class="flexCss">
        <div class="articleContainer">
            <article class="card">
                <h3 class="tituloCard">Especialidad</h3>
                <p class="parrafo">Seleccione una especialidad</p>
                <p class="parrafo" *ngIf="especialidadAux"><span class="span">Seleccionado: </span>{{especialidadAux}}</p>
                <div class="botones">
                    <button (click)="onChangeEspecialidad(especialidad)" class="btn btn-primary redondo" *ngFor="let especialidad of especialidades"  [style.backgroundImage]="'url(' + especialidad.img + ')'"></button>
                </div>
            </article>
            <article class="card">
                <h3 class="tituloCard">Especialista</h3>
                <p class="parrafo">Seleccione un especialista</p>
                <p class="parrafo" *ngIf="especialistaElegido"><span class="span">Seleccionado: </span>{{especialistaElegido | nombreApellido}}</p>
                <div class="botones" *ngFor="let especialista of especialistasAux">
                    <button (click)="onChangeEspecialista(especialista)" class="btn btn-primary redondo" [style.backgroundImage]="'url(' + especialista.img + ')'"></button>
                    <p>{{especialista | nombreApellido}}</p>
                </div>
                <p *ngIf="especialidadAux && especialistasAux.length == 0">No hay especialistas disponibles</p>
            </article>
            <article class="card" *ngIf="userIsAdmin">
                <h3 class="tituloCard">Paciente</h3>
                <p class="parrafo">Ingrese el DNI del paciente</p>
                <div class="input-group">
                    <input type="text" class="form-control" [(ngModel)]="dniAbuscar" placeholder="Ingrese el DNI">
                    <button class="btn btn-outline-secondary " (click)="buscarPaciente()" type="button">Buscar</button>
                </div>
                <p *ngIf="pacienteElegido" class="pacienteEncontrado mb-0 mt-1">{{pacienteElegido.nombre + ', ' + pacienteElegido.apellido}}</p>
            </article>
        </div>
        <div class="fechas" [hidden]="!mostrarFechas">
            <div class="diaDiv" *ngFor="let dia of dias; let i = index">
                <button class="btn btn-primary btnDia" (click)="diaElegido = dia" [class.seleccionado]="diaElegido == dia">
                    {{ turnoService.obtenerNombreDia(dia) }} - {{ dia | date:'dd/MM' }}
                </button>
            </div>
        </div>
    </div>
    <app-elegir-turno [@shownHidden]="diaElegido ? 'shown' : 'hidden'" [dia]="diaElegido" [especialidad]="especialidadAux" [especialista]="especialistaElegido" [paciente]="pacienteElegido"></app-elegir-turno>
</div>
